
h1 {
    text-align: center;
    margin: 10px;
}
img{
    width: 100%;
}
body  >.board{
    display: flex;
    position: fixed;
    
}
.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 600px;  
    height: 600px;
    border: 2px groove black;
}

.rows {
    display: flex;
    background-color:wheat; 
}

.item {
    width: 100px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1 .item:nth-child(odd),
.row2 .item:nth-child(even),
.row3 .item:nth-child(odd),
.row4 .item:nth-child(even),
.row5 .item:nth-child(odd),
.row6 .item:nth-child(even),
.row7 .item:nth-child(odd),
.row8 .item:nth-child(even) 
{
    background-color:burlywood ;
    
}

.item{
  font-size: 32px;
}